.custom-card {
    padding: 10px;
    text-align: center;
}
.custom-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    border: 1px solid #007bff;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    padding: 10px;
    box-sizing: border-box;
}
.custom-btn img {
    border-radius: 50%;
    width: 60%;
    height: auto;
    margin-bottom: 10px;
}
.row {
    justify-content: center;
}